{% extends "base.html" %} {% block body %}
<div class="container">
  <form action="" method="post">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search..."
        aria-label="Search"
        aria-describedby="button-addon2"
        name="search"
      />
      <input
        class="btn btn-outline-primary"
        type="submit"
        id="button-addon2"
        value="Search"
      >

      </button>
    </div>
  </form>
  <h1>Recent Posts</h1>
  {% for post, user in posts %}
  <div class="border" style="border-radius: 10px; padding: 5px">
    <a href="/profile/{{user.id}}" style="text-decoration: none;">
      <img
        src="../static/profile_pictures/{{user.profile_picture}}"
        alt="Avatar Image"
        style="border-radius: 50%; width: 30px; height: 30px"
      />
    <a href="/profile/{{user.id}}" style="color: #6e8898; text-decoration: none;"><small>{{ user.first_name }} {{ user.last_name }}</small></a>

    <h5><a href="/post/{{post.id}}" style="color:black;text-decoration: none;"><strong>{{ post.title }}</strong></a></h5>
    <p>{{ post.data | nl2br }}</p>
        <!-- Liking Post -->
        <form action="/post/{{post.id}}/like" method="post" style="display:inline">
          <input type="submit" class="btn btn-danger btn-sm" value="👍" />
          <p style="display: inline"> {{ post.likes | count }}</p>
        </form>
            <!-- Disliking post -->
          <form
            action="/post/{{post.id}}/dislike"
            method="post"
            style="display: inline"
          >
            <input type="submit" class="btn btn-danger btn-sm" style="display:inline" value="👎" />
            <p style="display: inline">{{ post.dislikes | count }}</p>
          </form>
    
    <br>
        <!-- Comment count -->
        {% if post.comments | count == 1 %}
        <small><a href="/post/{{post.id}}" style="color: black;">{{ post.comments | count }} Comment</a></small>
        {% else %}
        <small><a href="/post/{{post.id}}" style="color: black;">{{ post.comments | count }} Comments</a></small>
        {% endif %}
    
  </div>
  <br />
  {% endfor %}
</div>
{% endblock %}
