{% extends 'base.html' %} {%block body%}
<div class="container">
  <br /><br />
  <h2>
    {% if user.profile_picture %}

    <img src="../static/profile_pictures/{{user.profile_picture}}" alt="Avatar Image" style="border-radius: 50%; width: 150px; height: 150px">

    {% else %}
    <img
      src="../static/profile_pictures/default_profile_photo.jpg"
      alt="Avatar image" style="border-radius: 50%; width: 150px; height: 150px"
    /> {% endif %}
    <span style="padding: 20px">{{name}}</span>
  </h2>
  {% if id == current_user.id %}
  <a
    href="/edit/profile"
    style="font-size: small"
    class="btn btn-secondary btn-sm"
    >Edit your profile</a
  >
  <!-- ACCORDION -->
  <br /><br />
  <div class="accordion">
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button
          class="accordion-button"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseOne"
          aria-expanded="true"
          aria-controls="collapseOne"
        >
          Create Post
        </button>
      </h2>
      <div
        id="collapseOne"
        class="accordion-collapse collapse"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <!-- FORM -->
          <form method="post">
            <input
              type="text"
              name="title"
              class="form-control"
              placeholder="Title of Post"
              required
            />
            <textarea
              name="post"
              cols="30"
              rows="10"
              class="form-control"
              placeholder="Write a post here..."
              maxlength="10000"
              required
            ></textarea
            ><br />
            <input
              type="submit"
              value="Create Post"
              class="form-control btn btn-primary"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- ACCORDION END -->

  {% else %} {% endif %} <br />
  <h4>Recent Posts</h4>
  {% if posts %}{% else %}
  <p>This user has no posts.</p>
  {% endif %} {% for post in posts %}
  <div class="border" style="border-radius: 10px; padding: 5px">
    <a href="/post/{{post.id}}" style="color: black; text-decoration: none"
      ><h5>{{post.title}}</h5></a
    >
    <p>{{ post.data | nl2br }}</p>
    <small
      >{% if id == current_user.id %}
      <a
        href="{{ url_for('views.delete_post', id=post.id) }}"
        onclick="return confirm('Are you sure you want to delete this post?')"
        class="btn btn-sm btn-warning"
        >Delete Post</a
      ></small
    >{% endif %}
    <!-- Liking Post -->
    <form action="/post/{{post.id}}/like" method="post" style="display: inline">
      <input type="submit" class="btn btn-danger btn-sm" value="👍" />
      <p style="display: inline">{{ post.likes | count }}</p></form>
      <!-- Disliking post -->
      <form
        action="/post/{{post.id}}/dislike"
        method="post"
        style="display: inline"
      >
        <input type="submit" class="btn btn-danger btn-sm" value="👎" />
        <p style="display: inline">{{ post.dislikes | count }}</p>
      </form>

      <!-- Comment count -->
      <br />
      {% if post.comments | count == 1 %}
      <small>{{ post.comments | count }} Comment</small>
      {% else %}
      <small>{{ post.comments | count }} Comments</small>
      {% endif %}
    </form>
  </div>

  <br />
  {% endfor %}

  <br />

  <h4>Bio</h4>
  {% if user.bio == None or user.bio == "" %}
  <p>This user has no bio.</p>
  {% else %}
  <div class="container border" style="border-radius: 10px;">
  <p class="" style="padding: 10px">{{user.bio | nl2br}}</p></div><br>
  {% endif %}
  <p><b>Date Joined: </b>{{date_joined}}</p>
  <!-- The nl2br is a new line and I'm filtering out the variable so it shows newlines. -->
</div>
{%endblock%}
